.app {
  width: 80vw;
  margin: 0 auto;
}

.link {
  color: #61dafb;
}

.videos-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.video-header {
  order: 1;
}

.video-description {
  order: 2;
}

.video-snippet {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.video-channel {
  font-size: 14px;
}

.video-thumbnail {
  margin: 0;
  order: 0;
}
