.app {
  width: 80vw;
  margin: 0 auto;
}

.link {
  color: #333;
  text-decoration: none;
}

.videos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  grid-gap: 16px;
}

.video-header {
  order: 1;
}

.video-description {
  order: 2;
}

.video-snippet {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  overflow: hidden;
}

.video-channel {
  font-size: 14px;
}

.video-thumbnail {
  margin: 0;
  order: 0;
  width: 100%;
}

.video-thumbnail img {
  width: 100%;
}
